#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #uploadedItemsList {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #uploadedItemsList td, #uploadedItemsList th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #uploadedItemsList tr:nth-child(even){background-color: #f2f2f2;}
  
  #uploadedItemsList tr:hover {background-color: #ddd;}
  
  #uploadedItemsList th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(186, 192, 186);
    color: white;
  }